body{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator{
  max-width: 350px;
  background-color: #1a1a1a;
  overflow: hidden;

  border-radius: 5px;
}

#display{
  width: 95%;
  margin:2px auto;
  height: 20%;
  font-size: 2rem;
  background-color: #3b3b3b;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: right;
  padding: 10px;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  margin-top:10px;
}

#keys button{
  border: none;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #3b3b3b;
  color: white;
  cursor: pointer;
}

#keys .btn{
  background-color: #ff9500; font-weight: normal;
  font-size: 3em;
}
@media (min-width:700px) {
  #calculator{
  scale: 0.7;
}